@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist Sans', Arial, Helvetica, sans-serif;
}

/* Colores personalizados para Chile */
.chile-red {
  background-color: #D52B1E;
}

.chile-blue {
  background-color: #0039A6;
}

.chile-white {
  background-color: #FFFFFF;
}
